.tableCustom{
  width: 100%;
// 表头样式设置
  :global .ant-table-thead>tr>th{
    color:black;
    background-color: #fff;
  }
  // 单元格下边框设置
  :global .ant-table-cell{
    border-bottom:10px solid #fff;
  }
  // 表格中行设置
  .tableRow{
    font-size:16px;
    background-color: rgb(251, 240, 240);
    color:rgb(153, 153, 153)
  }
}
